{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h2>Elije tu producto</h2>

{{ form_start(form) }}
    {{ form_row(form.nombre) }}
    <br>
    {{ form_row(form.search) }}
{{ form_end(form) }}

<br>
    <a href="{{ path('app_home') }}">Volver al inicio</a>
{% endblock %}