{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% for message in app.flashes('error') %}
    <div>{{ message }}</div>
{% endfor %}

<h2>Elije tu producto</h2>

{{ form_start(form) }}
    {{ form_row(form.nombre) }}
    <br>
    {{ form_row(form.search) }}
{{ form_end(form) }}

{% endblock %}