{% extends 'base.html.twig' %}

{% block title %}Carrito de Compras
{% endblock %}

{% block body %}

	<style>
		table * {
			border: 1px black solid;
		}
	</style>

	{% if carrito is not empty %}
		<br>
		<table>
			<caption>Mi Carrito de Compras</caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Cantidad</th>
					<th>Precio Unitario</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				{% for producto in carrito %}
					<tr>
						<td>{{ producto.nombre }}</td>
						<td>{{ producto.cantidad }}</td>
						<td>{{ producto.precio }}</td>
						<td>{{ producto.cantidad * producto.precio }}€</td>
						<td>
							<form action="{{ path('eliminar_producto') }}" method="POST">
								<input type="hidden" name="producto_id" value="{{ producto.producto_id }}">
								<button type="submit">Eliminar</button>
							</form>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="3">
						<strong>Total del carrito:</strong>
					</td>
					<td colspan="2">{{ totalPrecio }}€</td>
				</tr>
			</tbody>
		</table>
	{% else %}
		<p>El carrito está vacío.</p>
	{% endif %}
{% endblock %}
