{% extends 'base.html.twig' %}

{% block title %}Lista de Productos
{% endblock %}

{% block stylesheets %}
	<style>
		table * {
			border: 1px black solid;
		}
	</style>
{% endblock %}

{% block body %}
	<h1>Listado de Productos</h1>

	{% if arrayproducto is not empty %}
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Cantidad para el carrito</th>
				</tr>
			</thead>
			<tbody>
				{% for producto in arrayproducto %}
					<tr>
						<td>{{ producto.id }}</td>
						<td>{{ producto.nombre }}</td>
						<td>{{ producto.descripcion }}</td>
						<td>{{ producto.precio }}</td>
						<td>
							<form action="{{ path('agregar_al_carrito')}}" method="POST">
								<input type="hidden" name="producto_id" value="{{ producto.id }}">
								<input type="number" name="cantidad" value="1" min="1" style="width: 50px;">
								<button type="submit">Añadir al carrito</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No hay productos disponibles.</p>
	{% endif %}
	<br>
	{% for message in app.flashes('error') %}
		<div>{{ message }}</div>
	{% endfor %}
{% endblock %}
