{% extends 'base.html.twig' %}

{% block title %}Detalles del Producto
{% endblock %}

{% block body %}
	<style>
		table * {
			border: 1px black solid;
		}
	</style>
	<h1>Detalles del Producto</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Precio</th>
			<th>Cantidad</th>
		</tr>
		<tr>
			<td>{{ producto.id }}</td>
			<td>{{ producto.nombre }}</td>
			<td>{{ producto.descripcion }}</td>
			<td>{{ producto.precio }}</td>
			<td>{{ producto.cantidad }}</td>
		</tr>
	</table>
	<br>
	<a href="{{ path('buscar') }}">Volver a atrás</a>
{% endblock %}
