{% extends 'base.html.twig' %}

{% block title %}Lista de Productos{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h1 class="card-title">Listado de Productos</h1>

                    {% if arrayproducto is not empty %}
                        <table class="table table-bordered mt-4">
                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Cantidad para el carrito</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in arrayproducto %}
                                    <tr>
                                        <td>{{ producto.id }}</td>
                                        <td>{{ producto.nombre }}</td>
                                        <td>{{ producto.descripcion }}</td>
                                        <td>{{ producto.precio }}</td>
                                        <td>
                                            <form action="{{ path('agregar_al_carrito')}}" method="POST" class="d-flex align-items-center">
                                                <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                                <input type="number" name="cantidad" value="1" min="1" style="width: 50px;" class="form-control me-2">
                                                <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay productos disponibles.</p>
                    {% endif %}
                    <br>
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
