{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				{% for message in app.flashes('error') %}
					<div class="alert alert-danger" role="alert">{{ message }}</div>
				{% endfor %}
				<div class="card">
					<div class="card-body">
						<h2 class="card-title text-center mb-4">Elije tu producto</h2>

						{{ form_start(form) }}
						<div class="mb-3">
							{{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="text-center">
							{{ form_row(form.search, {'attr': {'class': 'form-control bg-primary text-white'}}) }}
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
